html {
    width: 100vw;
    overflow-x: hidden;
    background-color: $secondary;
}
body {
    width: 100vw;
    font-size: $base;
    line-height: 1.55;
    font-family: $fonts-application;
    background-color: $secondary;
    color: $black;
}
.container {
    width: 100%;
    max-width: $container;
    padding: 0 $container-px;
    margin: 0 auto;
}
.main-page {
   position: relative;
   z-index: 10;
   padding-top: 150px;
}