html {
    width: 100vw;
    overflow-x: hidden;
    background-color: $white;
}
body {
    width: 100vw;
    font-size: $base;
    line-height: 1.5;
    font-family: $fonts-application;
    background-color: $white;
    color: $black;
}
.container {
    width: 100%;
    max-width: $container;
    padding: 0 $container-px;
    margin: 0 auto;
    border: 1px solid red;
}