// start color settings
$white: #ffffff;
$secondary: #F9F9F9;
$gray: rgba(#000000, .4);
$black: #000000;
$darken: #06001D;
$indigo: #9610FF;
$violet: #5B41F5;
$blue: #456AE7;
$colors : (
    "white" : $white,
    "black" : $black,
    "gray"  : $gray,
    "darken": $darken,
    "indigo": $indigo,
    "blue"  : $blue,
    "violet": $violet,
);
// end colors settings

// start heading settings
$base: 14px;
$text-xs: 18px;
$text-sm: 25px;
$text-md: 36px;
$text-lg: 48px;
$text-xl: 64px;
$text-2xl: 96px;

$heading-size : (
    "base": $base,
    "xs"  : $text-xs,
    "sm"  : $text-sm,
    "md"  : $text-md,
    "lg"  : $text-lg,
    "xl"  : $text-xl,
    "2xl" : $text-2xl,
);
// end heading settings
// font family application
$fonts-application: 'Mazzard', sans-serif;

// container settings
$content: 1140px;
$container-px: 15px;
$container: calc($content + ($container-px * 2));



// function build root-css
// example:
:root {
    // for using root-css colors add prefix "--color-[name-color]", 
    // for example --color-blue
    @each $key, $value in $colors {
        --color-#{$key} : #{$value};
    }
    // for using root-css heading size, add prefix "--heading-[name-heading]", 
    // for example --heading-md
    @each $key, $value in $heading-size {
        --heading-#{$key} : #{$value};
    }
}